/* // iPad */
/* On screens that are at most 992px and at least 540px wide: */
@media screen and (max-width: 992px) {
    .top-row {
        height: 625px;
        padding-bottom: 40px;
    }
    .header-intro {
        font-size: 1.6rem;
    }
    .header-greeting {
        font-size: 2.6rem;
    }
    .learn-more {
        font-size: 1.4rem;
    }
    .learn-more-container {
        font-size: 1.4rem;
        min-width: 175px;
    }
  }
/* //SMARTPHONE LANDSCAPE */
  /* On screens that are at most 540px wide: */
@media screen and (max-width: 540px) {
    .top-row {
        height: 425px;
    }
    .header-greeting {
        font-size: 1.8rem;
    }
    .header-intro {
        font-size: 1.2rem;
    }
    .profile-pic {
        height: 200px;
        width: 200px;
    }
    .contact-info-container {
        flex-direction: column;
    }
    .contact-item {
        margin-left: 2em;
        padding: .25em;
        flex: 1;
    }
  }
/* //SMARTPHONE PORTRAIT */
  /* On screens that are at most 320px wide: */
@media screen and (max-width: 320px) {
    .header-intro {
        font-size: 1.8rem;
      }
    .hello {
        display: none;
    }
  }

  /* //320px smart phones */