* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-color: darkslategray;
}

body {
    font-family: 'Muli', sans-serif;
}

/* COLORS: */
.pink-inverse {
    color: #41A6C1;
}

.pink-one{
    color: #BD3D48;
}

.pink-two{
    color: #8F212E;
}

.pink-three{
    color: #C24856;
}

.pink-four {
    color: #BF9195;
}

.pink-five {
    color: #BFB7B7;
}
/* end colors */

.navbar-outer-wrapper {
    width: 100%;
    height: 80px;
}

.navbar-nav {
    margin-left: 10px;
}

.nav-link {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    padding: 0 12.5px;
}

.nav-link:hover {
    color: white;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active  {
    font-size: 2rem;
    color: white;
}

.top-row {
    height: 750px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.jumbotron, .jumbotron-fluid {
    margin-top: -20px;
}

.jumbo-blurb-container {
    padding: 50px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.15);
}
.jumbotron {
    color: white;
    background-color: transparent;
}

.header-greeting {
    font-size: 3.2rem;
}

.header-intro {
    font-size: 2rem;
}

.learn-more {
    font-size: 1.6rem;
    margin: auto 0;
    padding: 10px;
    text-align: center;
}

.learn-more-container {
    min-width: 200px;
    margin-top: 15px;
    border: 1px solid white;
}

[name="about-me"] {
    position: relative;
    top: -125px;
}

.about-p {
    font-size: 1.8rem;
}

[href="#about-me"] {
    color: white;
    text-decoration: none;

}

[href="#about-me"]:hover, 
[href="#about-me"]:focus, 
[href="#about-me"]:active,
.learn-more-container:hover,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    transition: all 1s;
    color: #41A6C1;
    text-decoration: none;
}   

.bg-img {
    background-image: url('../imgs/bg/red-brick-ALT01.png');
    background-repeat: no-repeat;
    z-index: 20;
    /* background-size: fill; */
}

.profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    height: 225px;
    width: 225px;
    border-radius: 50%
}

.about-me-outer-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-info-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-item {
    flex: 50%;
    text-align: left;
    line-height: 1.8em;
    font-size: 1.6em;
}

.sub-heading {
    text-align: center;
    font-size: 2.4em;
}

.sub-heading p {
    color: slategray;
}

.about-me p {
    font-size: 1.4em;
}

.section-head {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.section-head h4 {
    line-height: 50px;
}

.sub-section-heading {
    text-align: center;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(191, 183, 183, 0.25);
    opacity: 0.5;
    height: 25vh;
    width: 100%;
}

.icons-container i {
    margin: 0 6.25vw;
}

/* //PORTFOLIO */
.title-head {
    font-size: 2.4em;
}

/* ON NAV-LINK:HOVER CREATE JQUERY EFFECT OF SHOWING BELOW: */
.title-head:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 45px; /* Change this to whatever width you want. */
    padding-top: 2px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #8F212E; /* This creates the border. Replace black with whatever color you want. */
}
  
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.port-buttons {
    display: flex;
    justify-content: flex-start;
}

.card {
    margin: 0 auto;
    margin-top: 1.8rem;
    width: 23.45rem;
    min-height: 275px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-title {
    min-height: 1.6rem;
    font-size: 1.8rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-btn {
    background-color: #BD3D48;
    border: none;
    flex: .40;
    font-size: 1.4rem;
}

.card-btn-git {
    background-color: #171516;
    margin-left: 20px;
}

.card-btn:hover, .card-btn:active {
    background-color: #8F212E;
}

/* //ROWS & FOOTER// */
.upper-middle-row {
    z-index: 5;
    margin-top: 85px;
    margin-bottom: 50px;
}

.middle-row-center, .middle-row-bottom {
    margin-top: 40px;
}

.middle-row-center {
    min-height: 50px;
}

.middle-row-bottom {
    margin-bottom: 125px;
}

.footer-flex {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.8em;
    max-width: 650px;
    display: flex;
    justify-content: space-around;
}

.footer-link-icon {
    color: darkslategray;
    flex: 1;
}

.footer a:hover, {
    color: #41A6C1 !important;
}

