* {
    box-sizing: border-box;
}

html {
    background-color: darkslategray;
}

body {
    font-family: 'Muli', sans-serif;
}

.nav-row {
    height: 90px;
}

.navbar-all-container {
    width: 100vw;
    height: 85px;
    display: flex;
    justify-content: space-between;
}

.navbar-links-container {
    flex: 1;
    padding-right: 50px;
}

.navbar-brand-container {
    flex: 1;
    padding-left: 50px;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    /* padding-right: 50px; */
}

/* COLORS: */

.pink-inverse {
    color: #41A6C1;
}

.pink-one{
    color: #BD3D48;
}

.pink-two{
    color: #8F212E;
}

.pink-three{
    color: #C24856;
}

.pink-four {
    color: #BF9195;
}

.pink-five {
    color: #BFB7B7;
}

/* end colors */


.jumbo-blurb-container {
    padding: 50px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.15);
}

.nav-link {
    font-weight: 600;
    color: white;
    padding: 0 10px;
}

.nav-link:hover {
    color: white;
}

/* ON NAV-LINK:HOVER CREATE JQUERY EFFECT OF SHOWING BELOW: */
.title-head:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 45px; /* Change this to whatever width you want. */
    padding-top: 2px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #8F212E; /* This creates the border. Replace black with whatever color you want. */
}

.navbar-brand {
    color: white;
}

.jumbotron {
    color: white;
    background-color: transparent;
}

.learn-more {
    margin: auto 0;
    padding: 10px;
    text-align: center;
}

.bg-img {
    background-image: url('../imgs/bg/red-brick-ALT01.png');
    background-repeat: no-repeat;
    /* background-size: fill; */
}

.top-row {
    height: 70vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.middle-row-top, .middle-row-center, .middle-row-bottom {
    margin-top: 50px;
}

.profile-pic {
    width: 250px;
}

.about-me-container {
    display: flex;
    justify-content: flex-end;
}

.sub-heading p {
    color: slategray;
}

.about-me-container {
    display: flex;
    justify-content: center;
}

.about-me {
    margin: 50px 0;
    width: 90%;
}

.head {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}
.head h4 {
    line-height: 50px;
}

.sub-heading {
    text-align: center;
}

.card {
    margin-top: 40px;
}

.port-buttons {
    display: flex;
    justify-content: flex-start;
    margin: 15px 0 10px 0;
}

.card-btn {
    background-color: #BD3D48;
    border: none;
    flex: .40;
    margin-right: 20px;
}

.card-btn-git {
    background-color: #171516;
    flex: .40;
}

.card-btn:hover, .card-btn:active {
    background-color: #8F212E;
}

.language-icons-container {
    display: flex;
    justify-content: center;
    background-color: rgba(191, 183, 183, 0.25);
    opacity: 0.5;
    height: 25vh;
    width: 100%;
}


.language-icons-container i {
    margin: 10vh;
}