* {
    box-sizing: border-box;
}

html {
    background-color: darkslategray;
}

body {
    font-family: 'Muli', sans-serif;
}

/* COLORS: */

.pink-inverse {
    color: #41A6C1;
}

.pink-one{
    color: #BD3D48;
}

.pink-two{
    color: #8F212E;
}

.pink-three{
    color: #C24856;
}

.pink-four {
    color: #BF9195;
}

.pink-five {
    color: #BFB7B7;
}

/* end colors */

.jumbotron, .jumbotron-fluid {
    margin-top: 5vw;
}

.jumbo-blurb-container {
    padding: 50px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.15);
}

.nav-link {
    font-weight: 600;
    color: white;
    padding: 0 10px;
}

.nav-link:hover {
    color: white;
}

/* ON NAV-LINK:HOVER CREATE JQUERY EFFECT OF SHOWING BELOW: */
.title-head:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 45px; /* Change this to whatever width you want. */
    padding-top: 2px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #8F212E; /* This creates the border. Replace black with whatever color you want. */
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active  {
    color: white;
}

.jumbotron {
    color: white;
    background-color: transparent;
}

.learn-more-container {
    min-width: 115px;
    border: 1px solid white;
}

.learn-more {
    margin: auto 0;
    padding: 10px;
    text-align: center;
}

[name="about-me"] {
    position: relative;
    top: -125px;
}

[href="#about-me"] {
    color: white;
    text-decoration: none;

}

[href="#about-me"]:hover, 
[href="#about-me"]:focus, 
[href="#about-me"]:active,
.learn-more-container:hover,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    transition: all 1s;
    color: #41A6C1;
    text-decoration: none;
}   

.bg-img {
    background-image: url('../imgs/bg/red-brick-ALT01.png');
    background-repeat: no-repeat;
    z-index: 20;
    /* background-size: fill; */
}

.top-row {
    height: 72.5vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.middle-row-top {
    z-index: 5;
    margin-top: 100px;
    margin-bottom: 100px;
}

.middle-row-center, .middle-row-bottom {
    margin-top: 50px;
}

.middle-row-bottom {
    margin-bottom: 150px;
}

.profile-pic {
    width: 250px;
}

.about-me-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-info-container {
    height: 75px;
    vertical-align: middle;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.contact-item {
    flex: 50%;
    text-align: left;
    line-height: 20px;
}
.sub-heading p {
    color: slategray;
}

.about-me {
    margin: 50px 0;
    width: 90%;
}

.section-head {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.section-head h4 {
    line-height: 50px;
}

.sub-section-heading {
    text-align: center;
}

.card {
    margin-top: 40px;
}

.port-buttons {
    display: flex;
    justify-content: flex-start;
    margin: 15px 0 10px 0;
}

.card-btn {
    background-color: #BD3D48;
    border: none;
    flex: .40;
    margin-right: 20px;
}

.card-btn-git {
    background-color: #171516;
    flex: .40;
}

.card-btn:hover, .card-btn:active {
    background-color: #8F212E;
}

.language-icons-container {
    display: flex;
    justify-content: center;
    background-color: rgba(191, 183, 183, 0.25);
    opacity: 0.5;
    height: 25vh;
    width: 100%;
}

.language-icons-container i {
    margin: 10vh;
}

.footer-flex {
    font-family: 'Source Code Pro', monospace;
    max-width: 650px;
    display: flex;
    justify-content: space-around;
}

.footer-link-icon {
    color: darkslategray;
    flex: 1;
}

.footer a:hover, {
    color: #41A6C1 !important;
}
