///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Include only parts of Bootstrap
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '@bootstrap/scss/functions';

// Include any default variable overrides here
@import 'variable-overrides';

// Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import '@bootstrap/scss/variables';
@import '@bootstrap/scss/variables-dark';

// Include any default map overrides here

// Include remainder of required parts
@import '@bootstrap/scss/maps';
@import '@bootstrap/scss/mixins';
@import '@bootstrap/scss/root';

// Optionally include any other parts as needed
@import '@bootstrap/scss/utilities';
@import '@bootstrap/scss/reboot';
@import '@bootstrap/scss/type';
@import '@bootstrap/scss/images';
@import '@bootstrap/scss/containers';
@import '@bootstrap/scss/grid';
@import '@bootstrap/scss/helpers';
@import '@bootstrap/scss/buttons';
// @import '@bootstrap/scss/nav';
@import '@bootstrap/scss/navbar';

// *** Include Forms //
// @import '@bootstrap/scss/forms/floating-labels.scss';
// @import '@bootstrap/scss/forms/form-check.scss';
// @import '@bootstrap/scss/forms/form-control.scss';
// @import '@bootstrap/scss/forms/form-range.scss';
// @import '@bootstrap/scss/forms/form-select.scss';
// @import '@bootstrap/scss/forms/form-text.scss';
// @import '@bootstrap/scss/forms/input-group.scss';
// @import '@bootstrap/scss/forms/labels.scss';
// @import '@bootstrap/scss/forms/validation.scss';

// Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '@bootstrap/scss/utilities/api';

// Add additional custom code here
:root {
  /* Theme Colors */
  --soft-white: #eeefea;
  --secondary-blue: #1d3a58;
  --slate-blue: #314658;
  --preppy-blue: #d1eaff;
  --cadet-blue: #3bb1be;
  --primary-blue: #80f3f1;
  --soft-white: #eeefea;
  --custom-code-color: oklab(80% 65% 15%);

  // bs overrides
  --bs-body-color: #eeefea;
  // --bs-primary: #80f3f1;
  // --bs-primary-rgb: 128, 243, 241;
}

/* || Typography */
// p {
//     line-height: 1.65;
//     margin-bottom: 1rem;
// }

code {
  color: var(--custom-code-color);
}

/* || Custom Navbar */
.navbar {
  position: absolute;
  border-radius: 2rem;
  top: 1rem;
  left: 1rem;
  right: 1rem;
}

/* || Gradients */
.bg-gradient--diagonal {
  background: linear-gradient(to bottom right, #126866, 25%, var(--secondary-blue));
  // background: linear-gradient(to bottom right, var(--primary-blue), 75%, var(--cadet-blue));
}

.bg-gradient--undulating {
  // background: linear-gradient(to right, var(--secondary-blue), 25%, #126866, 50%, var(--secondary-blue), 75%, #126866, 100%, var(--secondary-blue));
  background: linear-gradient(to right, var(--secondary-blue), 25%, #124E69, 50%, var(--secondary-blue), 75%, #124E69, 100%, var(--secondary-blue));
  // background: radial-gradient(circle, var(--primary-blue), var(--cadet-blue));
}

/* || About Me */
#about-me {
  margin-top: 6rem;

  h1 {
    font-size: calc(2.75rem + 3vw);
    color: var(--white);
  }
}

/* || Highlight Cards */
.highlight-card {
  color: #1f1f1f;

  img {
    max-height: 65px;
  }
}

/* || Icons */
.social-icon[data-icon] {
  background-color: black;
  outline: 2pt solid var(--soft-white);
  text-indent: -9999px;
}

[data-icon]:before,
[data-icon]:before {
  content: '';
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.social-icon[data-icon]:before {
  background-size: 105%;
  background-position: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
}

.social-icon[data-icon="linkedin"] {
  border-radius: 3px;
}

.social-icon[data-icon="octocat"] {
  border-radius: 50%;
}

[data-icon="phone"]:before {
  background-image: url('/phone.svg');
}

[data-icon="mail"]:before {
  background-image: url('/email.svg');
  width: 1.25rem;
  height: 1rem;
  border-radius: 2px;
}

[data-icon="octocat"]:before {
  background-image: url('/octocat.svg');
}

[data-icon="linkedin"]:before {
  background-image: url('/linkedin.svg');
}

/* || Inquiry Form */
form[name="inquiry"] {
  background-color: var(--cadet-blue);

  input,
  select {
    appearance: none;
  }

  input,
  textarea {
    display: block;
    // background-color: var(--soft-white);
    background-color:var(--primary-blue);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid var(--primary-blue);
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    // margin-bottom: 1rem;
    margin: 0 0 1rem 0;
  }

  input::placeholder,
  textarea::placeholder {
    // padding-left: 0.5rem;
    opacity: 0.85;
    color: var(--secondary-blue);
  }

  label {
    padding: 0 0 0.75rem 0.75rem ;
    color: var(--secondary-blue);
  }

  input:focus, textarea:focus {
    // color: #212529;
    // background-color: #fff;
    border-color: var(--custom-code-color);
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 136, 0.34);
    outline: 0;
  }  
}