// // Override Bootstrap color variables
$primary: #80f3f1;
$secondary: #1d3a58;
// $success: #your-color;
// $info: #your-color;
// $warning: #your-color;
// $danger: #your-color;
$light: #d1eaff;
$dark: #314658;

// // Additional color variables
// $link-color: #your-color; // for links
// $gray: #your-color; // used for background colors and borders
// $white: #your-color; // default background color
// $black: #your-color; // default text color

// // Typography variables
$body-color: #fff; // default text color
$body-bg: #eeefea; // default background color
// $link-hover-color: #your-color; // link color on hover

// // Forms variables
// $input-border-color: #your-color; // input border color
// $input-disabled-bg: #your-color; // background color for disabled inputs
// $input-placeholder-color: #your-color; // placeholder text color

// // Buttons variables
// $btn-primary-bg: #80f3f1; // background color for primary buttons
// $btn-primary-color: #eeefea; // text color for primary buttons
// $btn-secondary-bg: #your-color; // background color for secondary buttons
// $btn-secondary-color: #your-color; // text color for secondary buttons

// // Alerts variables
// $alert-success-bg: #your-color; // background color for success alerts
// $alert-info-bg: #your-color; // background color for info alerts
// $alert-warning-bg: #your-color; // background color for warning alerts
// $alert-danger-bg: #your-color; // background color for danger alerts
